.sidebar {
  height: 100vh;
  position: fixed !important;
  left: 0;
  z-index: 10;
  background-color: #ffffff !important;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.06);
}

.logo-container {
  height: var(--topnav-height);
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 12px;
  border-bottom: 1px solid var(--border-light);
  background-color: var(--bg-sidebar)!important;
}

/* ========== SIDEBAR MENU OVERRIDES ONLY ========== */

.ant-menu {
  background-color: #ffffff !important;
  color: #6A6A6A !important;
  border-inline-end: none !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
  color: #6A6A6A !important;
  background-color: transparent !important;
}


.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: transparent !important;
  color: #1A43DB !important;
}

.ant-menu-submenu-arrow {
  color: #6A6A6A !important;
}

.ant-menu-submenu:hover .ant-menu-submenu-arrow {
  color: #1A43DB !important;
}

/* Menu collapse behavior */
.menu-item-content {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
}

.menu-item-title {
  transition: opacity 0.3s, transform 0.3s;
  white-space: nowrap;
}

.ant-layout-sider-collapsed .menu-item-title {
  display: none;
  
}

.ant-layout-sider-collapsed .ant-menu-item,
.ant-layout-sider-collapsed .ant-menu-submenu-title {
  padding: 0 calc((80px - 24px) / 2) !important;
  justify-content: center;
}

/* Mobile sidebar drawer */
.sidebar-drawer .ant-drawer-body {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .sidebar-drawer .ant-drawer-content {
    background-color: #ffffff;
  }

  .ant-drawer-content-wrapper {
    width: 250px !important;
  }
}
